/ReadVectorPrintReversed/build/
/ReadVectorPrintReversed/dist/
/VectorPrintSum/build/
/VectorPrintSum/dist/
/CalifiArray/build/
/CalifiArray/dist/
/RowColumm/build/
/RowColumm/dist/
/FillRowColOne/build/
/FillRowColOne/dist/
/BubbleSort2/build/
/BubbleSort2/dist/
/CalNamesInitial/build/
/CalNamesInitial/dist/