/ReadVectorPrintReversed/build/
/ReadVectorPrintReversed/dist/
/VectorPrintSum/build/
/VectorPrintSum/dist/
/CalifiArray/build/
/CalifiArray/dist/
/RowColumm/build/
/RowColumm/dist/
/FillRowColOne/build/
/FillRowColOne/dist/
/CalNamesInitial/dist/
/CalNamesInitial/build/
/ModuloForLoop/dist/
/ModuloForLoop/build/
/Array100Element/build/
/Array100Element/dist/
/GridArray01/build/
/GridArray01/dist/
/RowCol1and0/build/
/RowCol1and0/dist/
/PatternOfThree/build/
/PatternOfThree/dist/
/Findrepeatvalues/dist/
/Findrepeatvalues/build/